
<div class="card mb-sm-3 mb-md-0 contacts_card">
    <div class="card-header">
        <h4>Profile</h4>
    </div>
    <div class="card-body contacts_body d-flex flex-column align-items-center justify-content-center">
        <img alt="" src="assets/image/avatar.png" class="img">
        <div class="d-flex align-items-center flex-column">
            <h3>Irene Theres</h3>
            <div>
                <label>Email: </label>
                <label>irenetheres@gmail.com</label>
            </div>
            <div>
                <label>Ph: </label>
                <label>7854536362</label>
            </div>
        </div>
    </div>
</div>
<!--  -->
