<div class="card mb-sm-3 mb-md-0 contacts_card">
    <div class="card-header">
        <div class="input-group">
            <input type="text" placeholder="Search..." name="" class="form-control search">
            <div class="d-flex input-group-prepend">
                <span class="input-group-text search_btn"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="card-body contacts_body">
        <ul class="contacts">
            <li class="active">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        <img src="{{src1}}"
                            class="rounded-circle user_img">
                        <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                        <span>{{name1}}</span>
                        <p>{{text1}}</p>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        <img src="{{src4}}"
                            class="rounded-circle user_img">
                        <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                        <span>{{name2}}</span>
                        <p>{{text2}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer"></div>
</div>